{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet"> 
   <title>Landing Page Vet Office</title>
</head>
<body>
  <div id="headbox">
  <h1>View the contents of the sample database by visiting <A href="sample-app-sdv.azurewebsites.net/customers">/customers</A> or add/update a new customer by sending a POST/PUT request to /customers endpoint using Postman</h1>
  <img src="https://g.foolcdn.com/editorial/images/655611/2022-gmc-sierra-denali-200.jpg"/>
  </div>
</body>
</html>